# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log

# Database
*.sqlite3
pgdata/
docker-compose.override.yml

# Testing & Coverage
.coverage
htmlcov/
.pytest_cache/
.tox/

# Distribution / Packaging
dist/
build/
*.egg-info/
